body{
    background-color: black;
    color: white;
    user-select: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin: 0px;
}

#pawn-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid white;
}

.pawn{
    width: 100px;
    height: 100px;
    margin: 5px;
    flex-shrink: 0;
    border-radius: 50px;
    box-sizing: border-box;
}

.pawn:hover{
    filter: brightness(0.7);
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out 0.15s;
}

.selected-pawn{
    transform: scale(1.1);
    border: 3px solid lime;
}

#start-btn{
    background-color: green;
    color: white;
    border: 3px solid white;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 2em;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    justify-content: center;
}

#start-btn:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

#player-select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 15px auto;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#player-select-box{
    width: 30px;
    margin: 15px;
    font-size: 20px;
}

#difficulty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0px auto;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#difficulty-select {
    width: 100px;
    margin: 15px;
    font-size: 20px;
}

#difficulty-desc{
    font-size: 0.7em;
    font-weight: normal;
    color: #4caf50;
    text-shadow: 2px 2px 10px;
}

#player-hand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.card{
    font-size: 0.8em;
    height: 150px;
    width: 115px;
    position: relative;
    background-color: hsla(0, 0%, 35%, 0.9);
    text-align: center;
    transition: 0.3s;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-20px);
    filter: brightness(0.9);
}

.card-header{
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 15px;
}

#game-board-container{
    position: relative;
    width: 80vw;
    max-width: 800px;
    margin: 5px;
}

#board-img{
    width: 100%;
    display: block;
}

.room{
    position: absolute;
    border-radius: 5px;
}

.highlight-room{
    background-color: rgba(0, 255, 0, 0.3);
    border: 2px solid lime;
    cursor: pointer;
}

#game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-turn-header{
    font-size: 1.5em;
    background-color: hsla(0, 0%, 80%, 0.7);
    padding: 10px;
    width: 100vw;
    text-align: center;
    margin: 0px;
}

#guess-hud{
    display: none;
    flex-direction: column;
    background-color: hsla(0, 0%, 20%, 0.8);
    position: absolute;
    width: 50%;
    height: fit-content;
    max-height: 90%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid white;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    overflow: auto;
    z-index: 10;
}

#guess-hud-header{
    text-align: center;
    margin: 0;
    font-size: 2em;
    text-shadow: 5px 5px 25px white;
}

.guess-label{
    font-size: 1.3em;
    margin: 5px;
}

#suspect-container, #weapon-container{
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
}

#guess-dropdown-container{
    display: flex;
}

.suspect-btn, .weapon-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 30px;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.suspect-btn:hover, .weapon-btn:hover{
    cursor: pointer;
    filter: brightness(0.7);
}

#guess-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    margin: 10px auto;
}

.selected-guess-hud-btn{
    background-color: red;
}

#guess-accuse-hud{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 20%, 0.8);
    position: absolute;
    width: 50%;
    height: fit-content;
    max-height: 90%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    text-align: center;
    z-index: 10;
}

#ga-container{
    width: 100%;
}

.ga-btn{
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    width: 100px;
    margin: 5px;
}

.ga-btn:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

#game-pawn-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 77%;
    max-width: 750px;
    margin: 3px auto;
    padding: 15px;
    border: 2px solid white;
}

.game-pawn{
    width: 70px;
    height: 70px;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    box-sizing: border-box;
}

.current-turn-pawn{
    box-shadow: 0 0 10px lime;
    transform: scale(1.15);
    border: 3px solid lime;
    box-sizing: border-box;
}

#revealed-card-box{
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    background-color: hsla(0, 0%, 80%, 0.7);
    padding: 5px;
    width: 55%;
    max-width: 500px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    box-sizing: border-box;
}

#revealed-card-pawn{
    background-color: maroon;
    border: 3px solid black;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    box-sizing: border-box;
}

#revealed-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#revealed-card-click-text{
    font-size: 0.9em;
}

.highlighted-card {
    background-color: rgb(23, 155, 23);
    border: 2px solid lime;
    transform: translateY(-10px) !important;
    box-shadow: 0 0 20px lime;
    z-index: 5;
    animation: 2s infinite ease-in-out !important;
    transition: all 0.4s ease !important;
}

.highlighted-card:hover {
    transform: translateY(-35px) !important;
    box-shadow: 0 0 40px lime;
}

.highlighted-card-header {
    color: rgb(196, 255, 196) !important;
    text-shadow: 0 0 10px lime;
    animation: 2s infinite !important;
}

#envelope-hud{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 20%, 0.8);
    position: absolute;
    width: 70%;
    height: fit-content;
    max-height: 90%;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    text-align: center;
    z-index: 10;
}

#player-accusation-text{
    text-decoration: underline;
}

#envelope{
    width: 45%;
    min-width: 200px;
    border-radius: 5px;
}

#envelope:hover{
    filter: brightness(0.8);
    cursor: pointer;
}

#envelope-click-text{
    font-size: 0.9em;
}

#open-envelope-hud{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(30, 67%, 60%, 0.8);
    position: absolute;
    width: 60%;
    height: fit-content;
    max-height: 90%;
    min-width: 370px;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    text-align: center;
    z-index: 50;
}

.envelope-card{
    font-size: 0.8em;
    height: 150px;
    width: 115px;
    position: relative;
    background-color: hsla(0, 0%, 35%, 0.9);
    text-align: center;
    transition: 0.3s;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

#envelope-card-container{
    display: flex;
}

.envelope-card-header{
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 15px;
}

#win-lose-text{
    margin: 5px;
}

.board-pawn{
    width: 4%;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
    position: absolute;
    border: 2px solid black;
    box-sizing: border-box;
}

#hand-container{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 5;
}

#hide-hand-btn{
    display: flex;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    background-color: hsl(0, 0%, 41%);
    cursor: pointer;
    z-index: 6;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

#hide-hand-btn:hover{
    filter: brightness(0.8);
}

#hall { top: 5%; left: 40%; width: 18.5%; height: 20%; }
#lounge { top: 4%; left: 72%; width: 22%; height: 18%; }
#dining-room { top: 38%; left: 69%; width: 25%; height: 18%; }
#kitchen { top: 75%; left: 78%; width: 20%; height: 20%; }
#ballroom { top: 68%; left: 37%; width: 26%; height: 20%; }
#conservatory { top: 79%; left: 3%; width: 21%; height: 16%; }
#billiard-room { top: 49%; left: 4%; width: 20%; height: 15%; }
#library { top: 26%; left: 7%; width: 18%; height: 15%; }
#study { top: 2%; left: 4%; width: 21%; height: 13%; }