body{
    background-color: black;
    color: white;
}

li{
    font-size: 0.75em;
}

#pawn-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid white;
}

.pawn{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 5px;
    flex-shrink: 0;
    border-radius: 50px;
    box-sizing: border-box;
}

.pawn:hover{
    filter: brightness(0.7);
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out 0.15s;
}

.selected-pawn{
    transform: scale(1.1);
    border: 3px solid lime;
}

#generate-btn{
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 2em;
    border-radius: 10px;
}

#generate-btn:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

#player-select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 15px auto;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#player-select-box{
    width: 30px;
    margin: 15px;
    font-size: 20px;
}